div.container {
    text-align: center;
  }

.demo-card-wide.mdl-card {
    width: 1012px;
    background: blue;
    text-align: center;
}
.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 300px;
}
.demo-card-wide > .mdl-card__menu {
    color: #fff;
}

.center {
    text-align:center;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
}